#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_B5CACHEVISUALIZER_DIALOG DIALOGEX 0, 0, 700, 360
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "B5 Multi-level Cache Visualizer"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x86
BEGIN
    GROUPBOX        "L1 Configuration",IDC_STATIC,8,8,220,130
    LTEXT           "Cache Size",IDC_STATIC,16,27,78,10
    EDITTEXT        IDC_EDIT_L1_SIZE,100,23,118,16,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Block Size",IDC_STATIC,16,49,78,10
    EDITTEXT        IDC_EDIT_L1_BLOCK,100,45,118,16,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Associativity",IDC_STATIC,16,71,78,10
    EDITTEXT        IDC_EDIT_L1_ASSOC,100,67,118,16,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Mapping",IDC_STATIC,16,93,78,10
    COMBOBOX        IDC_COMBO_L1_MAPPING,100,89,118,70,CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Replacement",IDC_STATIC,16,115,78,10
    COMBOBOX        IDC_COMBO_L1_REPLACEMENT,100,111,118,70,CBS_DROPDOWNLIST | WS_TABSTOP

    GROUPBOX        "L2 Configuration",IDC_STATIC,236,8,220,130
    LTEXT           "Cache Size",IDC_STATIC,244,27,78,10
    EDITTEXT        IDC_EDIT_L2_SIZE,328,23,118,16,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Block Size",IDC_STATIC,244,49,78,10
    EDITTEXT        IDC_EDIT_L2_BLOCK,328,45,118,16,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Associativity",IDC_STATIC,244,71,78,10
    EDITTEXT        IDC_EDIT_L2_ASSOC,328,67,118,16,ES_AUTOHSCROLL | WS_TABSTOP
    LTEXT           "Mapping",IDC_STATIC,244,93,78,10
    COMBOBOX        IDC_COMBO_L2_MAPPING,328,89,118,70,CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Replacement",IDC_STATIC,244,115,78,10
    COMBOBOX        IDC_COMBO_L2_REPLACEMENT,328,111,118,70,CBS_DROPDOWNLIST | WS_TABSTOP

    GROUPBOX        "Trace",IDC_STATIC,8,145,448,88
    EDITTEXT        IDC_EDIT_TRACE,18,160,428,42,ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Import File",IDC_BUTTON_IMPORT,18,207,70,20
    PUSHBUTTON      "Clear",IDC_BUTTON_CLEAR_TRACE,95,207,50,20
    LTEXT           "Current: 0 / 0",IDC_STATIC_TRACE_INDEX,153,211,102,10
    LTEXT           "Request: none",IDC_STATIC_SUMMARY,263,211,183,10

    GROUPBOX        "Controls",IDC_STATIC,464,145,228,88
    PUSHBUTTON      "Apply Config",IDC_BUTTON_RUN,474,162,68,20
    PUSHBUTTON      "Step",IDC_BUTTON_STEP,547,162,36,20
    PUSHBUTTON      "Run All",IDC_BUTTON_RUN_ALL,588,162,45,20
    PUSHBUTTON      "Reset",IDC_BUTTON_RESET,638,162,44,20
    LTEXT           "Last Result: none",IDC_STATIC_LAST_RESULT,474,190,208,32

    GROUPBOX        "Statistics",IDC_STATIC,464,8,228,130
    EDITTEXT        IDC_EDIT_RESULT,474,23,208,103,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL

    GROUPBOX        "L1 Cache",IDC_STATIC,8,240,338,112
    CONTROL         "",IDC_L1_CACHE_VIEW,"SysListView32",LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP | WS_CHILD | WS_VISIBLE | WS_BORDER,18,257,318,85

    GROUPBOX        "L2 Cache",IDC_STATIC,354,240,338,112
    CONTROL         "",IDC_L2_CACHE_VIEW,"SysListView32",LVS_REPORT | LVS_SINGLESEL | WS_TABSTOP | WS_CHILD | WS_VISIBLE | WS_BORDER,364,257,318,85
END
